{% extends 'root-dashboard.html' %}

<!-- block content -->
{% block content %}

<!-- landing page  -->
<div class="container">
    <h1>Welcome back {{current_user.username}}</h1>
    
    <div class="nav__menu" style="display: none;">
        <button class="btn btn-info">
            <a 
                href="{{url_for('admin.admin_create_post')}}"
                class="text-white"    
            >Create Post</a>
        </button>

        <button class="btn btn-outline-info">
            <a 
                href="{{url_for('admin.admin_edit_account')}}"   
            >Edit Profile</a>
        </button>

        <button class="btn btn-outline-danger">
            <a 
                href="{{url_for('admin.admin_logout')}}" 
            >Logout</a>
        </button>
    </div>

    <ul>
    {% for admin in admins %}
        <li>{{ admin.username }}</li>
        <li>{{ current_user.username }}</li>
    {% endfor %}
    </ul>
    
    <!-- post list -->
    {% if posts %}
    <h1>All Posts</h1>
    {% for post in posts %}
        <article class="media content-section">
            <img 
                class="rounded-circle article-img" 
                src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
                height="125"
                width="125"    
            />
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <img 
                    class="rounded-circle article-img" 
                    src="{{ url_for('static', filename='pictures/' + post.image_file) }}"
                    height="125"
                    width="125"    
                />
                <h2>
                    <a class="article-title" href="{{ url_for('adminpost', post_id=post.id) }}">
                        {{ post.title }}
                    </a>
                </h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% else %}
    <h1>No post created yet</h1>
    {% endif %}
</div>
<!-- finish -->
{% endblock content %}