{% extends 'root-dashboard.html' %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='assets/scripts/reuse.css') }}">
{% endblock %}

{% block content %}

<main>
    <div class="container cards profile__card p-1">
        <!-- profile card -->
        <div class="card">
            <div class="img__container text__center">
                <img 
                    class="img__round-lg"
                    src="{{url_for('static', filename='profile_pics/' + current_user.image_file)}}" 
                />
            </div>
            <div class="text__center">
                <div class="article-metadata pl-1">
                    <a class="text__name mr-2 d-block" href="#">{{ current_user.name }}</a>
                    <small class="h3-sm d-block">{{ current_user.username }}</small>
                    <h4 class="mt-75 mb-75">
                        Professional Voice Artist
                    </h4>
                </div>

                <div class="profile__details text__init">
                    <ul>
                        <li class="flex flex-j-space-between pb-5">
                            <span>
                                <i class='bx bxs-map mx-5'></i>
                                From
                            </span>
                            <b>India</b>
                        </li>
                        <li class="flex flex-j-space-between pb-5">
                            <span>
                                <i class='bx bxs-user mx-5'></i>
                                Member Since
                            </span>
                            <b>Jan 2022</b>
                        </li>
                    </ul>

                    <input type="button" value="Contact me" class="button__second btn-no-border">
                </div>
            </div>
        </div>

        <div class="profile__details__container">
            <!-- account details -->
            <div class="card about__profile mt-1">
                <div class="pb-1">
                    <h3>Description</h3>
                    <article class="text__normal">
                        Jessica Moore is a vocalist and arranger specialising in pop, rock and musical theatre. She is versatile and can adapt her style to any genre. She studied at one of London's top music universities where she graduated with First Class Honours and the 'Best Vocalist' award. Jessica writes her own vocal arrangements, and enjoys re-working known pop and rock songs into a cappella versions. She has toplined for a variety of dance, pop and rock artists and has held lead roles in musicals. She can also provide voice acting, due to her experience in theatre and performance.
                    </article>
                </div>

                <div class="mt-1 pb-1">
                    <h3 class="mb-5">Language</h3>
                    <p class="text__normal">
                        Hindi - 
                        <b>Native</b>
                    </p>
                    <p class="text__normal">
                        English - 
                        <b>Fluent</b>
                    </p>
                </div>

                <div class="mt-1 pb-1">
                    <h3 class="mb-5">Skills</h3>
                    <p class="text-1">
                        <span class="skill text__normal">Voice Tuning</span>
                        <span class="skill text__normal">Vocal Harmoney</span>
                        <span class="skill text__normal">Rock Music</span>
                        <span class="skill text__normal">Voice Over</span>
                        <span class="skill text__normal">Song Writing</span>
                    </p>
                </div>

                <div class="mt-1 pb-1">
                    <h3 class="mb-5">Education</h3>
                    <p class="text__normal">
                        BM - Popular Music Performance
                        <span class="d-block text__muted">
                            The Institute of Contemporary Music Performance, United Kingdom, Graduated 2018
                        </span>
                    </p>
                </div>

                <div class="mt-1 last">
                    <h3 class="mb-5">Language</h3>
                    <p class="text__normal">
                        BMus Popular Music Performance - First Class Honours
                        <span class="d-block text__muted">
                            UEL & ICMP 2018
                        </span>
                    </p>
                </div>
            </div>

            <!-- ratings -->
            <div class="card mt-1">
                <h3 class="mb-5">
                    Reviews 
                    <small>
                        (Avg <span class="review__star">4.7</span>
                        <i class='bx bxs-star review__star'></i>)
                    </small>
                </h3>

                <h3>
                    <span class="review__star__container d-block">
                        <span class="review__star">5</span>
                        (77) - 
                        <i class='bx bxs-star review__star'></i>
                        <i class='bx bxs-star review__star'></i>
                        <i class='bx bxs-star review__star'></i>
                        <i class='bx bxs-star review__star'></i>
                        <i class='bx bxs-star review__star'></i>
                    </span>
                    <span class="review__star__container d-block">
                        <span class="review__star">4</span>
                        (14) - 
                        <i class='bx bxs-star review__star'></i>
                        <i class='bx bxs-star review__star'></i>
                        <i class='bx bxs-star review__star'></i>
                        <i class='bx bxs-star review__star'></i>
                        <i class='bx bxs-star text__muted'></i>
                    </span>
                    <span class="review__star__container d-block">
                        <span class="review__star">3</span>
                        (43) - 
                        <i class='bx bxs-star review__star'></i>
                        <i class='bx bxs-star review__star'></i>
                        <i class='bx bxs-star review__star'></i>
                        <i class='bx bxs-star text__muted'></i>
                        <i class='bx bxs-star text__muted'></i>
                    </span>
                    <span class="review__star__container d-block">
                        <span class="review__star">2</span>
                        (12) - 
                        <i class='bx bxs-star review__star'></i>
                        <i class='bx bxs-star review__star'></i>
                        <i class='bx bxs-star text__muted'></i>
                        <i class='bx bxs-star text__muted'></i>
                        <i class='bx bxs-star text__muted'></i>
                    </span>
                    <span class="review__star__container d-block">
                        <span class="review__star">1</span>
                        (00) - 
                        <i class='bx bxs-star review__star'></i>
                        <i class='bx bxs-star text__muted'></i>
                        <i class='bx bxs-star text__muted'></i>
                        <i class='bx bxs-star text__muted'></i>
                        <i class='bx bxs-star text__muted'></i>
                    </span>
                </h3>
            </div>
        </div>
    </div>
</main>

{% include 'helpers/_dashboard_footer.html' %}

{% endblock content %}