{% extends 'root-dashboard.html' %}

<!--  -->
{% block head %}
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='assets/scripts/login-signup.css') }}"
/>
{% endblock %}

<!--  -->
{% block content %}
	
<!--  -->
{% include 'helpers/_sidenav_dashboard.html' %}

<div class="px-1 pl-75">
	<form method="POST" action="" enctype="multipart/form-data">
		<div class="container">
			<div
				class="header-sm flex flex-j-space-between flex-a-center p-5"
			>
				<a
					href="{{ url_for('users.user_dashboard') }}"
					class="button button__sm button__second submit__button button__alt flex"
				>
					<i class="bx bx-left-arrow-alt h2-sm"></i>
					<p>Go Back</p>
				</a>
				<span>
					{{ form.submit(class="button button__sm submit__button")}}
				</span>
			</div>
		</div>
		

		<div
			class="container bg__primary-alt admin__panel-form-container my-1"
		>
			<div class="flex flex-j-start flex-a-center p-5">
				<img
					src="{{url_for('static', filename='profile_pics/' + current_user.image_file)}}"
					alt="{{current_user.name}} - FireWithinFilms"
					class="img__round-sm mx-1"
				/>
				<h2 class="h2-sm">{{current_user.name}}</h2>
			</div>

			{{ form.hidden_tag() }}

			<!-- current password -->
			{{ form.currentPassword.label(class="ml-5 text-bold") }} 
			
			{% if form.currentPassword.errors %}
			<div class="login__box-container login__box-lighter my-5 mb-75">
				<div class="login__box login__box-error">
					{{ form.currentPassword( 
						class="login__input login__input-error",
						placeholder="Current Password" 
					) }}
				</div>
				{% for error in form.currentPassword.errors %}
				<small class="error__message">{{ error }}</small>
				{% endfor %}
			</div>
			{% else %}
			<div class="login__box login__box-lighter my-5 mb-75">
				{{ form.currentPassword(
					class="login__input", 
					placeholder="Current Password"
				) }}
			</div>
			{% endif %}

            <!-- new password -->
			{{ form.newPassword.label(class="ml-5 text-bold") }} 
			
			{% if form.newPassword.errors %}
			<div class="login__box-container login__box-lighter my-5 mb-75">
				<div class="login__box login__box-error">
					{{ form.newPassword( 
						class="login__input login__input-error",
						placeholder="New Password" 
					) }}
				</div>
				{% for error in form.newPassword.errors %}
				<small class="error__message">{{ error }}</small>
				{% endfor %}
			</div>
			{% else %}
			<div class="login__box login__box-lighter my-5 mb-75">
				{{ form.newPassword(
					class="login__input", 
					placeholder="New Password"
				) }}
			</div>
			{% endif %}


            <!-- confirm new password -->
			{{ form.confirmnewPassword.label(class="ml-5 text-bold") }} 
			
			{% if form.confirmnewPassword.errors %}
			<div class="login__box-container login__box-lighter my-5 mb-75">
				<div class="login__box login__box-error">
					{{ form.confirmnewPassword( 
						class="login__input login__input-error",
						placeholder="Confirm New Password" 
					) }}
				</div>
				{% for error in form.confirmnewPassword.errors %}
				<small class="error__message">{{ error }}</small>
				{% endfor %}
			</div>
			{% else %}
			<div class="login__box login__box-lighter my-5 mb-75">
				{{ form.confirmnewPassword(
					class="login__input", 
					placeholder="Confirm New Password"
				) }}
			</div>
			{% endif %}

			<div style="display: flex; align-items: center;">
				<input type="checkbox" name="showpass" id="showpass" style="width: auto; height: 20px; width: 20px; margin-right: 0.3rem;">
				Show Password
			</div>
        </div>

		<div style="float: right; margin-top: 1rem">
			{{ form.submit(class="button button__sm submit__button")}}
		</div>

	</form>
</div>


<script>
	const checkshowpass = document.querySelector('#showpass');
	const currentpass = document.querySelector('#currentPassword'); 
	const newpass = document.querySelector('#newPassword');
	checkshowpass.addEventListener('click', ()=> {
		if (currentpass.type === "password" || newpass.type === "password") {
			currentpass.type = "text";
			newpass.type = "text";
		} else {
			currentpass.type = "password";
			newpass.type = "password";
		}
	});
</script>
{% endblock content %}