{% extends 'root-dashboard.html' %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='assets/scripts/reuse.css') }}">
{% endblock %}


{% block content %}
<div class="container">
    <!-- <h1>Welcome back {{current_user.username}}</h1> -->
    
    <div class="nav__menu">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="#home" class="nav__link">
                    <i class="bx bx-home-alt nav__icon"></i>
                    <span class="nav__name">Home</span>
                </a>
            </li>
            
            <li class="nav__item">
                <a href="#about" class="nav__link">
                    <i class="bx bx-user nav__icon"></i>
                    <span class="nav__name">About</span>
                </a>
            </li>

            <li class="nav__item">
                <a href="#skills" class="nav__link">
                    <i class="bx bx-book-alt nav__icon"></i>
                    <span class="nav__name">Skills</span>
                </a>
            </li>

            <li class="nav__item">
                <a href="#portfolio" class="nav__link">
                    <i class="bx bx-briefcase-alt nav__icon"></i>
                    <span class="nav__name">Portfolio</span>
                </a>
            </li>

            <li class="nav__item">
                <a href="#contactme" class="nav__link active-link">
                    <i class="bx bx-message-square-detail nav__icon"></i>
                    <span class="nav__name">Contactme</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="section flex flex-j-start flex-a-center p-5">
        <img 
            src="{{url_for('static', filename='profile_pics/' + current_user.image_file)}}" 
            alt="{{current_user.name}} - FireWithinFilms"
            class="img__round-sm mx-1"    
        /> 
        <h2 class="h2-sm">Home</h2>
    </div>
    
    <!-- post list -->
    {% if posts %}
    <h1>All Posts</h1>
    {% for post in posts %}
        <article class="media content-section">
            <img 
                class="rounded-circle article-img" 
                src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
                height="125"
                width="125"    
            />
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <img 
                    class="rounded-circle article-img" 
                    src="{{ url_for('static', filename='pictures/' + post.image_file) }}"
                    height="125"
                    width="125"    
                />
                <h2>
                    <a class="article-title" href="{{ url_for('adminpost', post_id=post.id) }}">
                        {{ post.title }}
                    </a>
                </h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% else %}
    <h1>No post created yet</h1>
    {% endif %}
</div>
<!-- finish -->
{% endblock content %}