{% extends 'root-dashboard.html' %}

<!--  -->
{% block head %}
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='assets/scripts/reuse.css') }}"
/>
{% endblock %}

<!--  -->
{% block content %}

<!-- main content -->
{% if current_user.user_role != 'admin' %}
	<!-- complete your profile -->
	{% if complete_account != True %}
	<div class="alert alert__info">
		You account is incomplete.
		<a href="{{ url_for('users.user_edit_account') }}" class="link">
			Let's complete your profile first
		</a>
		and ROCK it 😎
	</div>
	{% elif completed_account_descreption != True %}
	<div class="alert alert__info">
		Impressive 😍 {{ current_user.name }}. One last step,
		<a href="{{ url_for('users.user_edit_description') }}" class="link">
			Let's complete your profile description
		</a>
		😎
	</div>
	{% endif %} 
    
{% endif %}

<div class="px-2 pl-75">
	{% include 'helpers/_sidenav_dashboard.html' %}

	<div
		class="section header-sm flex flex-j-space-between flex-a-center p-5"
	>
		<div class="flex flex-j-start flex-a-center">
			<img
				src="{{url_for('static', filename='profile_pics/' + current_user.image_file)}}"
				alt="{{current_user.name}} - FireWithinFilms"
				class="img__round-sm mx-1"
			/>
			<h2 class="h2-sm">Home</h2>
		</div>
	</div>

	<!-- post list -->
	{% if posts %}
	<h1 class="text__lighter h2-sm ml-75">Recent Posts</h1>
	
	{% for post in posts %}
	<article class="media content-section my-1 mx-5 ml-5 px-75 pl-75">
			<div class="container article__header flex pt-5">
				<img
					class="img__round-sm"
					src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
				/>

				<div class="article-metadata pl-1" style="margin-top: auto; margin-bottom: auto;">
					<a class="h3-sm mr-2 d-block" href="{{ url_for('users.user_profile', username=post.author.username) }}">
						{{ post.author.name }}
					</a>
					<small>
						{{ post.date_posted.strftime('%d %b, %Y') }}
					</small>
				</div>
			</div>

			<div class="container media-body pt-5 pb-5">
				<div>
					<a href="{{ url_for('users.user_post', post_id=post.id) }}">
						<h2 class="article__title">
							{{ post.title }}
						</h2>

						<p class="article-content">
							{{ post.content | truncate(200) | safe }}
						</p>
					</a>
				</div>
			</div>

	</article>
	{% endfor %} 

	{% else %}
	<h1>No post created yet</h1>
	{% endif %}
</div>
<!-- finish -->
{% endblock content %}
