{% extends 'root-dashboard.html' %}

<!-- inject code in HEAD TAG -->
{% block head %} 
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='assets/scripts/login-signup.css') }}"
/>
{% endblock %}


<!-- block content -->
{% block content %}

<!--  -->
{% include 'helpers/_sidenav_dashboard.html' %}

<div class="px-1 pl-75">
    <form method="POST" action="" enctype="multipart/form-data">

        <div class="container">
            <div
                class="header-sm flex flex-j-space-between flex-a-center p-5"
            >
                <a
                    href="{{ url_for('users.user_dashboard') }}"
                    class="button button__sm button__second submit__button button__alt flex"
                >
                    <i class="bx bx-left-arrow-alt h2-sm"></i>
                    <p>Go Dahsboard</p>
                </a>
                <span>
                    {{ form.submit(class="button button__sm submit__button")}}
                </span>
            </div>
        </div>

        <div class="container bg__primary-alt admin__panel-form-container my-1">
            <div class="flex flex-j-start flex-a-center p-5">
                <img
                    src="{{url_for('static', filename='profile_pics/' + current_user.image_file)}}"
                    alt="{{current_user.name}} - FireWithinFilms"
                    class="img__round-sm mx-1"
                />
                <h2 class="h2-sm">Edit Account</h2>
            </div>

            {{ form.hidden_tag() }}

            <!-- NAME -->
            {{ form.name.label(class="form-label") }}
        
            {% if form.name.errors %}
            <div class="login__box-container login__box-lighter my-5 mb-75">
                <div class="login__box login__box-error">
                    {{ form.name(
                        class="login__input login__input-error"
                    ) }}
                </div>

                {% for error in form.name.errors %}
                <small class="error__message">
                    {{ error }}
                </small>
                {% endfor %}
            </div>
            {% else %}
            <div class="login__box login__box-lighter my-5 mb-75">
                {{ form.name(class="login__input") }}
            </div>
            {% endif %}
        
    
            <!-- USERNAME -->
            {{ form.username.label(class="form-label") }}

            {% if form.username.errors %}
            <div class="login__box-container login__box-lighter my-5 mb-75">
                <div class="login__box login__box-error">
                    {{ form.username(class="login__input login__input-error") }}
                </div>
                
                {% for error in form.username.errors %}
                <small class="error__message">{{ error }}</small>
                {% endfor %}
            </div>
            {% else %}
            <div class="login__box login__box-lighter my-5 mb-75">
                {{ form.username(class="login__input") }}
            </div>
            {% endif %}
                        
            <!-- EMAIL -->
            {{ form.email.label(class="form-label") }}

            {% if form.email.errors %}
            <div class="login__box-container login__box-lighter my-5 mb-75">
                <div class="login__box login__box-error">
                    {{ form.email(class="login__input login__input-error") }}
                </div>
                
                {% for error in form.email.errors %}
                <small class="error__message">{{ error }}</small>
                {% endfor %}
            </div>
            {% else %}
            <div class="login__box login__box-lighter my-5 mb-75">
                {{ form.email(class="login__input") }}
            </div>
            {% endif %}          
                    

            <!-- PICTURE -->
            {{ form.picture.label(class="form-label") }}

            {% if form.picture.errors %}
            <div class="login__box-container login__box-lighter my-5 mb-75">
                <div class="login__box login__box-error">
                    {{ form.picture(class="login__input login__input-error") }}
                </div>
                
                {% for error in form.picture.errors %}
                <small class="error__message">{{ error }}</small>
                {% endfor %}
            </div>
            {% else %}
            <div class="login__box login__box-lighter my-5 mb-75">
                {{ form.picture(class="login__input") }}
            </div>
            {% endif %}
                    
        </div>

        <div style="float: right; margin-top: 1rem">
            {{ form.submit(class="button button__sm submit__button")}}
        </div>

    </form>
</div>
{% endblock content %}