{% extends 'root.html' %} 

{% block content %}
<div class="container">
	<article class="article__container">
		<div class="img__banner-container">
			<img 
				src="{{ image_file }}"
				alt="Cover image for {{ post.title }}"
				class="article__img"
			/>
		</div>

		<section class="article__description">
			<div class="article__title-container">
				<h1 class="article__title"> {{ post.title }} </h1>
			</div>

			<div class="article__content-container">
				<p class="article__content"> {{ post.content }} </p>
			</div>

			<!-- {% if post.author == current_user %}
			<h2>you are real user </h2>
			<a
				class="btn btn-secondary btn-sm mt-1 mb-1"
				href="{{ url_for('users.user_update_post', post_id=post.id) }}"
			> Update </a>

			<form
				action="{{ url_for('users.user_delete_post', post_id=post.id) }}"
				method="POST"
			>
				<input
					class="btn btn-danger"
					type="submit"
					value="Delete"
				/>
			</form>
			
			{% else %}
			<h2>sorry dude, its anyone else's post</h2>
			{% endif %} -->

		</section>
	</article>
	<aside class="card">
		<div class="card__header flex flex-j-start">
			<div class="card__header-img-container mx-1">
				<img 
					src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" 
					class="avatar"
					alt="" 
				/>
			</div>

			<div class="card__header-title-container">
				<p class="card__header-title">
					{{ current_user.name }}
				</p>
			</div>
		</div>
	</aside>
</div>
{% endblock content %}
