{% extends 'root.html' %} 

<!-- inject code in HEAD TAG -->
{% block head %} 
<link 
    href="{{ url_for('static', filename='assets/scripts/bootstrap.min.css') }}" 
    rel="stylesheet"
>
{% endblock %}


{% block content %}
<header class="mb-3">
	{% include "helpers/_post_nav.html" %}
</header>

<main class="container">
	<div class="row g-5">
		<div class="col-md-8">
			{% if image_file_status != False %}
			<div>
				<img 
					src="{{ image_file }}"
					alt="{{ post.title }}-banner-firewithinfilms" 
					class="img-fluid"
				/>
			</div>
			{% endif %}

			<article class="blog-post">
				<h1 class="blog-post-title mb-1"> {{ post.title }}  </h1>
				<div class="d-flex justify-content-between">
					<p class="blog-post-meta">
						{{ post.date_posted.strftime('%d %b, %Y') }} by
						<a href="#">{{ post.author.name }}</a>
					</p>

					{% if post.author == current_user %}
					<div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
						<button class="btn btn-dark">
							<a href="{{ url_for('users.user_update_post', post_id=post.id) }}" class="text-white">
								Update
							</a>
						</button>
						<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</button>
					</div>
					
					<!-- Modal -->
					<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="staticBackdropLabel">Delete this pos</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal">Close</button>
									<form action="{{ url_for('users.user_delete_post', post_id=post.id) }}" method="POST">
										<input type="submit" class="btn btn-sm btn-dark m-1" value="Confirm" />
									</form>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
				</div>

				<p> {{ post.content | safe }} </p>
				<hr>
			</article>
			
			<nav class="blog-pagination d-flex justify-content-between" aria-label="Pagination">
				{% if post.id !=1 %}
				<a  
					href="{{ url_for('users.user_post', post_id=post.id-1) }}" 
					class="btn btn-outline-dark rounded-pill">
					Previouse Post
				</a>
				{% else %}
				<button class="btn btn-outline-dark rounded-pill" disabled>
				Previouse Post
				</button>
				{% endif %}

				{% if post.id == lastPost.id %}
				<button class="btn btn-warning rounded-pill" disabled>
					Next Post
				</button>
				{% else %}
				<a  
					href="{{ url_for('users.user_post', post_id=post.id+1) }}" 
					class="btn btn-warning rounded-pill">
					Next Post
				</a>
				{% endif %}
			</nav>

			<ol class="list-unstyled my-5">
				<h4 class="text-dark mb-3 text-bold">
					Read more from FireWithinFilms
				</h4>
				{% for suggest_post in suggest_post_author %}
				
				{% if post != suggest_post %}				
				<li>
					<a href="{{ url_for('users.user_post', post_id=suggest_post.id) }}">
						<div class="more__post d-flex align-items-center gap-2">
							<div>
								<img 
									class="avatar"
									src="{{ url_for('static', filename='profile_pics/' + suggest_post.author.image_file) }}" 
									alt="{{ post.author.name }}-firewithinfilms"
								>
							</div>
							
							<div class="pb-2">
								<p class="mb-1 ">{{ suggest_post.title }}</p>
								<small class="text-muted">By <a href="{{ url_for('users.user_profile', username=suggest_post.author.username) }}" class="text-muted" style="text-decoration: underline;">{{ suggest_post.author.name }}</a></small>
							</div>
						</div>
					</a>
				</li>
				{% endif %}

				{% endfor %}
			</ol>
		</div>

		<div class="col-md-4 bg-light bg-gradient pt-3">
			<div class="position-sticky" style="top: 2rem;">
				<div class="p-4 mb-3 bg-dark bg-gradient rounded">
					<div class="card__header flex flex-j-start flex-a-center">
						<div class="card__header-img-container mx-1">
							<img 
								src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" 
								class="avatar bg__dark-border"
								alt="{{ post.author.name }}-firewithinfilms" 
							/>
						</div>

						<div class="card__header-title-container ms-3">
							<h4 class="card__header-title text-white">
								{{ post.author.name }}
							</h4>
						</div>
					</div>

					<p class="mb-3 mt-3 text-white">
						{{ post_author_details[0].description }}
					</p>

					<small class="text-light"> Joined 2020</small>

					<div class="d-grid mt-2">
						<a href="{{ url_for('users.user_profile', username=post.author.username) }}" class="btn btn-warning mt-2">Visit Profile</a>
					</div>

				</div>

				<div class="p-4">
					<ol class="list-unstyled mb-2">
						{% for author_post in author_all_post %}
						{% if post != author_post %}
							<li>
								<a href="{{ url_for('users.user_post', post_id=author_post.id) }}">
									<div class="more__post">
										<p>{{ author_post.title }}</p>
									</div>
								</a>
							</li>
						{% endif %}
						{% endfor %}
					</ol>
				</div>
			</div>
		</div>
	</div>
</main>

{% include 'helpers/_dashboard_footer.html' %}

{% endblock content %}
