{% extends 'root.html' %}

<!-- additional links -->
{% block head %}
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='assets/scripts/login-signup.css') }}"
/>
{% endblock %}

<!-- block content -->
{% block content %}

<!-- login page -->
<main class="center__center bg__primary">
	<section class="login__forms">
		<h1 class="login__title text__center">FireWithinFilms</h1>

		<form method="POST" action="" class="login__register" id="login-in">
			{{ form.hidden_tag() }}
			<h3>Type new password</h3>

			<!-- PASSWORD -->
			{% if form.password.errors %}
			<div class="login__box-container">
				<div
					class="login__box login__box-icon-container login__box-error"
				>
					{{ form.password( 
                        class="login__input login__input-error", 
                        placeholder="Password" 
                    )}}
				</div>
				{% for error in form.password.errors %}
				<small class="error__message">{{ error }}</small>
				{% endfor %}
			</div>
			{% else %}
			<div class="login__box login__box-icon-container">
				{{ form.password(
                    class="login__input", 
                    placeholder="Password"
                ) }}
			</div>
			{% endif %}

			<!-- password -->
			{% if form.confirm_password.errors %}
			<div class="login__box-container">
				<div
					class="login__box login__box-icon-container login__box-error"
				>
					<!-- <i class="bx bx-user login__icon login__icon-error"></i> -->
					{{ form.confirm_password( class="login__input
					login__input-error",placeholder="Confirm Password" )}}
				</div>
				{% for error in form.confirm_password.errors %}
				<small class="error__message">{{ error }}</small>
				{% endfor %}
			</div>
			{% else %}
			<div class="login__box login__box-icon-container">
				<!-- <i class="bx bx-user login__icon"></i>                 -->
				{{ form.confirm_password(
                    class="login__input", 
                    placeholder="Cofirm Password"
                )}}
			</div>
			{% endif %}

			{{ form.submit(class="button__lg bold mxy-2") }}

			<div class="text__dark">
				<span class="text__small-bold">Go back to</span>
				<span class="link bold" id="sign-up">
					<a class="link" href="{{ url_for('users.user_login') }}">
						Login
					</a>
				</span>
			</div>
		</form>
	</section>
</main>
{% endblock content %}


                    {{ form.password.label(class="form-control-label") }}


                    {{ form.confirm_password.label(class="form-control-label") }}

                 