 <!-- =========== FOOTER ============= -->
<footer class="bg__primary-alt d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="text-center py-3">
            <h2>FireWithinFilms</h2>
            <p> Unleash your inner power </p>

            <small class="d-flex py-4 justify-content-center">
                <a href="#" class="link pe-4"> 
                    Privacy Policy </a>
                <a href="#" class="link pe-4"> Terms of service </a>
                <a href="#" class="link"> Help and support </a>
            </small>
            
            <div class="">
                <p class="footer__copy" style="margin-top: 2rem !important;">
                    &copy; <span id="yearvalue">20xx</span> FireWithinFilms. Designed and
                    Maintained by
                    <a href="https://hossainfoysal.com" style="color: #00a8ff"> Hossain Foysal </a>.
                </p>
            </div>
        </div>
    </div>

    <script>
        const year = new Date();
        const gettheyear = year.getFullYear();
        const yearel = document.querySelector("#yearvalue");
        yearel.innerHTML = gettheyear;
    </script>
</footer>